node_modules
*/node_modules
dist
*/dist
.angular
*/.angular
*.log
.git
.gitignore
README.md
backend/data/*.db
backend/data/*.db-shm
backend/data/*.db-wal
frontend/Dockerfile
backend/Dockerfile
nginx.conf
.vscode
.idea
